package layout

templ Footer() {
	<footer class="flex justify-between w-full h-16 items-center container mx-auto px-2 sm:px-6 lg:px-8">
		<p class="text-slate-400">Made with <span class="text-red-600 hanzi">爱</span> by <a class="text-teal-300" href="https://lulu-dev.vercel.app/">lulu-dev</a></p>
		<span class="text-slate-400">v.1.0.0</span>
	</footer>
}
