package layout

templ Navbar() {
	<nav class="flex w-full h-16 items-center container mx-auto px-2 sm:px-6 lg:px-8" role="navigation" aria-label="main navigation">
		<a class="text-3xl text-slate-100 font-bold" href="/">
			BAOZI <span class="hanzi">中文</span>
		</a>
	</nav>
}
